table
{
border-collapse:collapse;

}

table, td, th
{
border:1px solid black;
font-size: 2.5em;
}
th
{
background-color:black;
color:yellow;
}

body {  
        margin: 0 auto;  
        width: 900px;  
        font: 13px/22px Helvetica, Arial, sans-serif;  
        background: #efe02f;  
    }

    #intro {
	height: 400px;  
	width: 9000px:
        margin-top: 66px;  
        padding: 44px;  
        background: #467612 url("sefcu.jpg") repeat-x;  
        background-size: 100%;  
        border-radius: 22px;  
    }  
